{% extends '::admin.html.twig' %}

{% block body %}
<h3>Docker Containers</h3>
<hr />

{% if containers | length == 0 %}
<p class="lead">No running containers.</p>
{% else %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Command</th>
            <th>Created</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for container in containers %}
        {% set ShortId = container.Id[0:12] %}
        <tr>
            <td><tt><a href="{{ path('app_admin_docker_container_top', { id: ShortId }) }}">{{ ShortId }}</a></tt></td>
            <td><tt>{{ container.data.Image }}</tt></td>
            <td><tt>{{ container.data.Command | truncate(32) }}</tt></td>
            <td><abbr class="timeago" title="{{ container.data.Created | date('c') }}">{{ container.data.Created | date('Y-m-d H:i:s') }}</abbr></td>
            <td>{{ container.data.Status }}</td>
            <td>
                <form method="post" action="{{ path('app_admin_docker_container_stop', { id: ShortId }) }}">
                    <button class="btn btn-danger btn-small">stop</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock body %}