<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>stage1 configuration wizard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/css/vendor/font-awesome.css" />
    <link rel="stylesheet" href="/css/configure.css" />

</head>

<body>

    <div class="container-narrow">

        <div class="jumbotron">
            <p class="lead">We need a bit of information about your GitHub setup.</p>
        </div>

        <hr>

        <form method="post" action="{{ path('app_core_configure_save') }}">
            <fieldset>
                <div class="row-fluid configure">
                    <div class="span6">
                        <p>First, we need to know the URL of your GitHub instance, and your API endpoint too.</p>

                        <p>The base URL is juste the URL at which your GitHub instance can be found. It is used in the OAuth process.</p>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="github_base_url">Base URL</label>
                            <div class="controls">
                                <input tabindex="1" type="text" id="github_base_url" name="github[base_url]" value="{{ config.github_base_url }}" placeholder="https://github.com" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="github_api_base_url">API Base URL</label>
                            <div class="controls">
                                <input tabindex="2" type="text" id="github_api_base_url" name="github[api_base_url]" value="{{ config.github_api_base_url }}" placeholder="https://api.github.com" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid configure">
                    <div class="span6">
                        <p>In order to use stage1 with your GitHub Enterprise instance, you need to register stage1 as an application. This is done by going to your <strong>Account settings</strong>, <strong>Applications</strong> and then <strong>Register new application</strong>. It is the equivalent of <a target="_blank" href="https://github.com/settings/applications/new">this page at github.com</a>.</p>

                        <p id="github_register_app_guess">Based on your GitHub base URL, I think you should <a target="_blank" href="">try this page</a>.</p>

                        <p>Please note you will need the following information:</p>
                        <dl>
                            <dt>Full URL to your application's homepage</dt>
                            <dd><a href="{{ url('app_core_homepage') }}">{{ url('app_core_homepage') }}</a></dd>
                            <dt>Your application's callback URL</dt>
                            <dd><a href="{{ url('app_core_auth_github_callback') }}">{{ url('app_core_auth_github_callback') }}</a></dd>
                        </dl>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="github_client_id">Client Id</label>
                            <div class="controls">
                                <input tabindex="3" type="text" id="github_client_id" name="github[client_id]" value="{{ config.github_client_id }}" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="github_client_secret">Client Secret</label>
                            <div class="controls">
                                <input tabindex="4" type="text" id="github_client_secret" name="github[client_secret]" value="{{ config.github_client_secret }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                        <button type="submit" class="btn">Save configuration</button>
                </div>
            </fieldset>
        </form>
    </div> <!-- /container -->
    <script src="/js/jquery.js"></script>
    <script type="text/javascript">
    var callback = function(event) {
        var val = $(event.target).val();

        if (val.length > 0) {
            $('#github_register_app_guess').show().find('a').attr('href', val+'/settings/applications/new');
        } else {
            $('#github_register_app_guess').hide();
        }
    };
    $('#github_base_url').on('keyup', callback);
    $('#github_base_url').on('blur', callback);
    </script>
</body>
</html>
