<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}stage1{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="/stage1.css" />
        <style type="text/css">body { padding-top: 60px; }</style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="{{ path('app_core_homepage') }}">Stage1</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}
                            <li><a href="#">Logged in as {{ app.user }}</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('app_core_logout') }}"><i class="icon-off"></i></a></li>
                            {% else %}
                            <li><a href="#" id="login">Login with github</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    {% if is_granted('ROLE_USER') %}
                    {% include 'AppCoreBundle:Default:_sidebar.html.twig' %}
                    {% endif %}
                </div>
                <div class="span9">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="/jquery.js"></script>
        <script src="/mustache.js"></script>
        <script src="/websocket.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
        {% if not is_granted('ROLE_USER') %}
        <script src="/oauth.js"></script>
        <script type="text/javascript">
        $('a#login').click(function() {
            OAuth.initialize('maWYPXfzovVpT1hkeqVXPmJ2Yn8');
            OAuth.popup('github', function(err, result) {
                $.post('/login/' + result.access_token, function(data) {
                    window.location = data.redirect_url;
                });
            });            
        });
        </script>
        {% endif %}
    </body>
</html>