<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}stage1{% endblock %}</title>
        {% stylesheets output="assets/base.css"
            'css/vendor/*'
            'css/stage1.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="{{ path('app_core_homepage') }}">STAGE1</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>{% render(controller('AppAdminBundle:Default:switchUser')) %}</li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('app_admin_dashboard') }}">Admin</a></li>
                            {% else %}
                                <li><a href="#">Logged in as {{ app.user }}</a></li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li><a href="?_switch_user=_exit">_exit</a></li>
                                {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_DEMO') %}
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('app_core_demo') }}">Demo</a></li>
                            {% endif %}

                            <li class="divider-vertical"></li>
                            <li><a href="http://help.stage1.io/">Help</a></li>
                            <li class="divider-vertical"></li>
                            <li>{% include 'AppCoreBundle:Feedback:_compose.html.twig' %}</li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('app_core_logout') }}"><i class="fa fa-power-off"></i></a></li>
                            {% else %}
                            <li><a href="{{ path('app_core_auth_github_authorize') }}" id="login">Login with github</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    {% if is_granted('ROLE_USER') %}
                    {% include 'AppCoreBundle:Default:_sidebar.html.twig' %}
                    {% endif %}
                </div>
                <div class="span9">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <i class="fa fa-check"></i>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                            <i class="fa fa-times"></i>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <div id="feedback" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Contact Us</h3>
            </div>
            <div class="modal-body">
                <div id="feedback-compose-form">
                    <form id="feedback-form" method="post" action="{{ path('app_core_feedback_create') }}">
                        <input type="hidden" name="feedback[current_project_id]" id="feedback_current_project_id" value="{{ app.request.attributes.get('current_project_id') }}" />
                        <input type="hidden" name="feedback[current_build_id]" id="feedback_current_build_id" value="{{ app.request.attributes.get('current_build_id') }}" />
                        <input type="hidden" name="feedback[url]" id="feedback_url" value="{{ app.request.uri }}" />
                        <input type="hidden" name="feedback[return]" id="feedback_return" value="{{ app.request.uri }}" />

                        <textarea autofocus name="feedback[message]" id="feedback_message"></textarea>
                    </form>
                </div>
                <ul>
                    <li>Message will be sent as <strong>{{ app.user.username }}</strong>.</li>
                    <li>We will use the address <strong>{{ app.user.email }}</strong> to send you a reply.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button id="feedback-send" class="btn btn-primary">Send</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>


        {% if is_granted('ROLE_USER') %}
        <script type="text/javascript">
        var current_user_id = {{ app.user.id }};
        var current_project_id = {{ app.request.attributes.get('current_project_id') | default('undefined') }};
        var current_build_id = {{ app.request.attributes.get('current_build_id') | default('undefined') }};
        var websocket_auth_url = '{{ path("app_core_primus_auth") }}';
        var build_logs_load_url = '{{ path('app_core_build_logs_load', { id: '0' }) }}';
        var websocket_port = {{ websocket_port }};
        </script>
        {% endif %}
        {% javascripts output="assets/base.js"
            'js/vendor/jquery.js'
            'js/vendor/mustache.js'
            'js/vendor/*'
            'js/stage1.js'
            'js/update_ref.js'
            'js/primus.js'
            'js/websocket.js'
            'js/update_ref.js'
            'js/build_show.js'
            'js/project_branches.js'
            'js/project_builds.js'
            'js/projects_import.js'
            'js/feedback.js'
            'js/Scroller.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript">
            $(function() {
                $('select#_switch_user').change(function(e) {
                    window.location = window.location + '?_switch_user=' + this.options[this.selectedIndex].value;
                });
            });
        </script>
        {% endif %}

        {% if google_analytics_tracking_code | length > 0 %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ google_analytics_tracking_code }}', '{{ google_analytics_site }}');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
