<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}stage1{% endblock %}</title>
        {% stylesheets output="assets/all.css"
            'css/vendor/*'
            'css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="{{ path('app_core_homepage') }}">Stage1</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}
                            <li><a href="#">Logged in as {{ app.user }}</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('app_core_logout') }}"><i class="icon-off"></i></a></li>
                            {% else %}
                            <li><a href="{{ path('app_core_auth_github_authorize') }}" id="login">Login with github</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    {% if is_granted('ROLE_USER') %}
                    {% include 'AppCoreBundle:Default:_sidebar.html.twig' %}
                    {% endif %}
                </div>
                <div class="span9">
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <i class="icon-ok"></i>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                            <i class="icon-ok"></i>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
        <script type="text/javascript">
        var current_user_id = {{ app.user.id }};
        var websocket_auth_url = '{{ path("app_core_primus_auth") }}';
        </script>
        {% endif %}
        {% javascripts output="assets/all.js"
            'js/vendor/jquery.js'
            'js/vendor/mustache.js'
            'js/vendor/*'
            'js/update_ref.js'
            'js/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>