<div id="{{ id }}" class="modal hide fade" tabindex="-1" role="dialog" {% if title %}aria-labelledby="{{ id }}-label"{% endif %} aria-hidden="true">
  {% if title %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{ id }}-label">{{ title }}</h3>
  </div>
  {% endif %}
  <div class="modal-body">
    {{ body | raw }}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>