<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stage1</title>
    <link rel="icon" type="image/png" href="/cog.png" />
    {% stylesheets output="assets/public.css"
        'css/vendor/*'
        'css/stage1.css'
        'css/public.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

    <div class="row-fluid masthead">
        <div class="container">            
            <ul class="nav nav-pills pull-right">
                {# <li class="active"><a href="{{ path('app_core_homepage') }}">Home</a></li> #}
                {#<li><a href="{{ path('app_core_blog') }}">Blog</a></li>#}
                <li><a href="/blog/">Blog</a></li>
                {% if not app.user or not is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_core_auth_github_authorize') }}"><i class="fa fa-github"></i> Login</a></li>
                {% endif %}
                {# <li><a href="{{ path('app_core_demo') }}">Demo</a><li> #}
            </ul>

            <ul class="nav nav-pills">
                <li><a href="{{ path('app_core_homepage') }}">STAGE1</a></li>
            </ul>
        </div>
    </div>

    {% block body %}{% endblock %}

    {% block footer %}
    <div class="row-fluid footer">
        <div class="container">
            <p>Stage1 &copy; 2013-2014</p>
            <br />
            <a href="https://github.com/stage1"><i class="fa fa-github-square fa-4x"></i></a>
            &nbsp;
            <a href="https://twitter.com/stage1hq"><i class="fa fa-twitter-square fa-4x"></i></a>
        </div>
    </div>
    {% endblock %}
</body>
</html>
