<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stage1</title>

    {% stylesheets output="assets/public.css"
        'css/vendor/*'
        'css/stage1.css'
        'css/public.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          {# <li class="active"><a href="{{ path('app_core_homepage') }}">Home</a></li> #}
          <li><a href="{{ path('app_core_auth_github_authorize') }}">Signin</a></li>
          {# <li><a href="{{ path('app_core_demo') }}">Demo</a><li> #}
        </ul>
        <h3 class="muted"><a href="{{ path('app_core_homepage') }}">Stage1</a></h3>
      </div>

      <hr>

      {% block body %}{% endblock %}

      <hr>

      <div class="footer">
        <ul class="breadcrumb">
            <li>&copy; Stage1 2013 <span class="divider">/</separator></li>
            <li><a href="{{ path('app_core_privacy') }}">Privacy</a> <span class="divider">/</separator></li>
            <li><a href="{{ path('app_core_terms') }}">Terms</a></li>
        </ul>
      </div>

    </div> <!-- /container -->
  </body>
</html>
