{% extends '::demo.html.twig' %}

{% block javascripts %}
<script type="text/javascript">

$('[data-toggle=tooltip]').tooltip();
$('input#email').focus();

var demo_websocket_channel = '{{ channel }}';

demo_websocket_listen(demo_websocket_channel);

$('form#form-build').on('submit', function(event) {
    event.preventDefault();
    event.stopPropagation();

    var url = $(this).attr('action');
    var data = {
        'project_id': $('#project_id option:selected').attr('value'),
        'email': $('#email').val()
    };

    console.log(data);

    $(this).find('button').html('<i class="icon-refresh icon-spin"></i>').attr('disabled', true);

    $('#form-build .control-group').removeClass('error').find('.help-block').hide();

    $.post(url, data, function(data, textStatus, jqXHR) {
        var data = JSON.parse(data);

        console.log(data);

        if (data.status == 400) {
            for (i in data.errors) {
                $('#' + i).parents('.control-group').addClass('error').find('.help-block').html(data.errors[i]).show();
            }

            $('#launch-build').attr('disabled', false).html('Get my build!');
        }
    });
});
</script>
{% endblock javascripts %}

{% block body %}
<p id="demo-intro" class="lead">The demo allows you to build <strong>your very own container</strong>. It will be built with love just for you, and you will be given a <strong>unique url</strong> to access it.</p>
<hr />
<!-- <p class="lead">You can choose any of the following demo projects to build:</p> -->

<form id="form-build" class="form-horizontal" method="post" action="{{ path('app_core_demo_build') }}">

    <div class="control-group">
        <label class="control-label">Your e-mail address</label>
        <div class="controls">
            <input type="text" name="email" id="email" placeholder="john.doe@gmail.com" title="We will use your email to send you a link to your build once it's finished, and maybe to ask you for some feedback later." data-toggle="tooltip" data-placement="right" />
            <span class="help-block"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">What project to build</label>
        <div class="controls">
            <select name="project_id" id="project_id">
                {% for project in projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
            <span class="help-block"></span>
        </div>
    </div>

    <br /><br />

    <div class="actions">

        <button class="btn btn-success btn-large" id="launch-build"><strong>Get my build!</strong></button>

        <br /><br />

        <p><small>Please note all demo containers are deleted every night.</small></p>
    </div>
</form>

<div id="build-meta">
</div>

<div id="build-steps">
</div>

<div id="build-url">
</div>

<hr />

{% include 'AppCoreBundle:Default:_marketing.html.twig' %}

<script type="text/mustache" id="tpl-url">{% verbatim %}
<hr />
<p class="lead">Your build is ready!</p>
<a class="btn btn-large btn-success" href="{{ url }}" target="_blank"><strong>Visit my build</strong></a>
<br /><br />
<p><small>You can also use this URL: <a href="{{ url }}" target="_blank">{{ url }}</a></small></p>
{% endverbatim %}</script>

<script type="text/mustache" id="tpl-meta">{% verbatim %}
<h2>Building project {{project}}</h2>
{% endverbatim %}</script>

<script type="text/mustache" id="tpl-failed">{% verbatim %}
<h2>:-(</h2>
<p class="lead">For some reason, the build failed.</p>
{% endverbatim %}</script>

<script type="text/mustache" id="tpl-steps">{% verbatim %}
<ul id="steps">
    {{#steps}}
    <li class="pending" id="{{ id }}" data-toggle="tooltip" title="{{ tooltip }}" data-placement="right"><div class="icon-container"><i></i></div> {{ label }}</li>
    {{/steps}}
</ul>

<br /><br />

<div id="build-progress" class="progress progress-striped active">
    <div class="bar" style="width: 0%;"></div>
</div>
{% endverbatim %}</script>

{% endblock body %}