{% extends '::base.html.twig' %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

<p class="lead">Project access management</p>

<div class="row-fluid">
    <div class="span6">
        {{ form_start(master_password_form) }}
            {{ form_errors(master_password_form) }}
            <fieldset>
                <legend>Master password
                    {% if project.masterPassword %}
                    <span class="label label-success">set</span>
                    {% else %}
                    <span class="label label-warning">unset</span>
                    {% endif %}
                </legend>
                <div class="input-append">
                    {{ form_errors(master_password_form.master_password) }}
                    {{ form_widget(master_password_form.master_password) }}

                    {# buttons #}
                    {{ form_widget(master_password_form.update, { attr: { class: "btn" } }) }}
                    {{ form_widget(master_password_form.delete, { attr: { class: "btn btn-danger" } }) }}
                </div>
                <span class="help-block">The master password can be used by anyone to grant himself access to this project's staging areas. Deleting the master password will disable this feature.</span>
            </fieldset>
        {{ form_end(master_password_form) }}
    </div>
    <div class="span6">
    {% if feature_ip_access_list %}
    {% include 'AppCoreBundle:Project:_access_list.html.twig' with {
        access_list: access_list.ips,
        access_form: access_form,
        project: project,
        csrf_token: access_delete_csrf_token,
        title_empty: '<strong>no</strong> authorized IP addresses',
        title_singular: '<strong>1</strong> authorized IP address',
        title_plural: '<strong>%d</strong> authorized IP addresses',
    } %}
    {% endif %}

    {% if feature_token_access_list %}
    {% include 'AppCoreBundle:Project:_access_list.html.twig' with {
        access_list: access_list.tokens,
        access_form: null,
        project: project,
        csrf_token: access_delete_csrf_token,
        title_empty: '<strong>no</strong> authorized tokens',
        title_singular: '<strong>1</strong> authorized token',
        title_plural: '<strong>%d</strong> authorized tokens',
    } %}
    {% endif %}
    </div>
</div>
{% endblock body %}