{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
$('#form-delete').on('submit', function(event) {
    var input = $('#project_name');

    if (input.val() != input.data('expect')) {
        event.preventDefault();
        event.stopPropagation();
    }
});

$('#project_name').on('keyup', function(event) {
    var $this = $(this);
    $('#form-delete button').attr('disabled', $this.val() != $this.data('expect'));
});
</script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

<fieldset>
    <legend>Project's environment</legend>

    <form id="form-project-env" method="post" action="{{ path('app_core_project_env', { id: project.id }) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

        <textarea name="project_env" id="project_env">{{ project.env }}</textarea>

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Save project's environment</button>
        </div>
    </form>
</fieldset>

<fieldset>
    <legend>Project's public key</legend>
    <p>Use this key as a deploy key for your private dependencies.</p>

    <pre>{{ project.publicKey }}</pre>
</fieldset>

<form id="form-delete" class="form-inline" method="post" action="{{ path('app_core_project_delete', { id: project.id }) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <fieldset>
        <legend>Delete project</legend>
        {% for message in app.session.flashbag.get('delete-error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
        {% endfor %}
        <p>Please type in the name of the project to confirm.</p>
        <p><strong>This action cannot be undone.</strong></p>
        <div class="input-append">
            <input autocomplete="off" type="text" name="name" id="project_name" class="" data-expect="{{ project.name }}" placeholder="{{ project.name }}" required />
            <button type="submit" class="btn btn-danger" disabled>Delete</button>
        </div>
    </fieldset>
</form>
{% endblock body %}