<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Access denied!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/css/vendor/font-awesome.css" />
    <link rel="stylesheet" href="/css/stage1.css" />
    <link rel="stylesheet" href="/css/configure.css" />

</head>

<body>

    <div class="container-narrow">

        <div class="jumbotron">
            <p class="lead">{{ project.fullname }}</p>
        </div>

        <hr />

        <div class="project-auth">

            {% if app.session.flashbag.has('success') %}

            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ message | raw }}
                </div>
            {% endfor %}

            {% elseif is_allowed %}

                {% if running_builds | length == 0 %}
                    <p class="lead">There are no running builds for this project at the moment.</p>
                {% else %}
                    <p class="lead">This project has <strong>{{ running_builds | length }}</strong> staging area{% if running_builds | length != 1 %}s{% endif %} available right now.</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Ref.</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for build in running_builds %}
                        <tr>
                            <td><a href="{{ build.url }}">{{ build.url }}</a></td>
                            <td>{{ build.ref }}</td>
                            <td><abbr class="timeago" title="{{ build.createdAt | date('c') }}">{{ build.createdAt | date('Y-m-d H:i:s') }}</abbr>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            {% else %}

            <p>To gain access to this staging URL, please enter your password.</p>

            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ message | raw }}
                </div>
            {% endfor %}
            
            <form method="post" action="{{ path('app_core_project_authorize', { slug: project.slug }) }}">
                <div class="input-append">
                    <input type="hidden" name="return" value="{{ return }}" />
                    <input type="password" name="password" placeholder="password" />
                    <button class="btn">Ok</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/jquery.timeago.js"></script>
    <script src="/js/stage1.js"></script>
</body>
</html>
