{% extends '::base.html.twig' %}

{% block body %}
{% include 'AppCoreBundle:Project:_header.html.twig' %}

<div class="row-fluid">
    <div class="span7">

        {% if project.activeBranches | length > 0 %}

            {% if project.activePullRequest | length > 0 %}
            <h4>Branches</h4>
            <hr />
            {% endif %}

            {% include 'AppCoreBundle:Project:_refs.html.twig' with { 
                type_singular: 'branch',
                type_plural: 'branches',
                objects: project.activeBranches
            } %}

        {% endif %}

        {% if project.activePullRequests | length > 0 %}

            <h4>Pull Requests</h4>
            <hr />

            {% include 'AppCoreBundle:Project:_refs.html.twig' with { 
                type_singular: 'pull-request',
                type_plural: 'pull-requests',
                objects: project.activePullRequests
            } %}
        {% endif %}
    </div>
    <div class="span5">
        {% if builds_count < 20 %}
        <div id="what-now">
            <h3>What now?</h3>

            <p>If your are lucky (and your project is a Symfony2 project), Stage1's default builder will magically build your project. If your project is too complex for our builder, then you will have to get your hand dirty. Don't worry, it's still pretty easy to get up to speed.</p>

            <p>You have 2 solutions to customize the build process:</p>

            <ol>
                <li>If your project is a <strong>Symfony2</strong> project, you can use a <strong>.build.yml</strong> file. It's Stage1's very own configuration file format. Since it's YAML, it's really easy to read and write. You can <a href="http://help.stage1.io/article/customizing-a-build-with-the-build-yml-file/">read more about the .build.yml file</a> in our online help. (.build.yml support for non-Symfony2 projects is coming)</li>
                <li>In all other cases, you will have to write a <strong>Dockerfile</strong>. See <a href="http://help.stage1.io/article/using-my-own-dockerfile/">our documentation on using Dockerfile in Stage1</a>.</li>
            </ol>

            <p>And do not forget, we are here to help. Please <a href="#feedback" data-toggle="modal"><strong>do not hesitate to contact us</strong></a>, we are more than happy to help you setup your project!</p>
        </div>
        {% endif %}
    </div>
</div>


<script type="text/mustache" id="tpl-ref-kill-form">
{% verbatim %}
<form id="ref-{{ normName }}-kill-form" method="post" action="{{ kill_url }}">
    <button type="submit" class="btn btn-small btn-danger" data-success-class="fa fa-refresh fa-spin" data-success-message="">kill</button>
</form>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-cancel-form">
{% verbatim %}
<form id="ref-{{ normName }}-cancel-form" method="post" action="{{ cancel_url }}">
    <button type="submit" class="btn btn-small btn-warning" data-success-class="fa fa-refresh fa-spin" data-success-message="">cancel</button>
</form>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-schedule-form">
{% verbatim %}
<form id="ref-{{ normName }}-schedule-form" method="post" action="{{ schedule_build_url }}">
    <button data-success-class="fa fa-refresh fa-spin" data-success-message="" class="btn btn-small">build</button>
    {{#data}}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {{/data}}
</form>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-status">
{% verbatim %}
<span id="ref-{{ normName }}-status" data-hash="{{ hash }}" data-status="{{ status }}" class="label label-{{ status_label_class }}">{{ status_label }}</span>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-show-link">
{% verbatim %}
<a href="{{ show_url }}">last build</a>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-branch">
{% verbatim %}
<tr class="branch" id="ref-{{ normName }}">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-hash"><abbr title="{{ hash }}"><tt>{{ abbr_hash }}</tt></abbr></td>
    <td class="ctn-status"></td>
    <td class="actions" id="ref-{{ normName }}-form-container"></td>
    <td class="actions" id="ref-{{ normName }}-actions">
        <span id="ref-{{ normName }}-link"></span>
    </td>
</tr>
{% endverbatim %}
</script>
{% endblock body %}