{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">$(function() { ace.edit('project_settings_buildYml_ace').focus(); });</script>{% endblock %}

{% block body %}
{% include 'AppCoreBundle:Project:_header.html.twig' %}
{% include 'AppCoreBundle:Project/Settings:_nav.html.twig' %}

{{ form_start(form) }}

<fieldset>
    <legend>Build configuration</legend>
    <p>Here you can configure a build for your project without having to commit a <code>.stage1.yml</code> file. <a target="_blank" href="http://help.stage1.io/article/customizing-a-build-with-the-build-yml-file/">Learn more about the <code>.stage1.yml</code> file</a></p>
    {{ form_errors(form.buildYml) }}
    {{ form_widget(form.buildYml) }}
</fieldset>

<div class="form-actions">
    {{ form_widget(form.save) }}
    {{ form_widget(form.save_and_build) }}
</div>
{{ form_end(form) }}

{% endblock %}
