<div id="feedback-compose-button">
    <a class="btn btn-success" href="#feedback" data-toggle="modal">Feedback</a>
</div>

<form method="post" action="{{ path('app_core_feedback_create') }}">
    <input type="hidden" name="feedback[current_project_id]" id="feedback_current_project_id" value="{{ app.request.attributes.get('current_project_id') }}" />
    <input type="hidden" name="feedback[current_build_id]" id="feedback_current_build_id" value="{{ app.request.attributes.get('current_build_id') }}" />
    <input type="hidden" name="feedback[return]" id="feedback_return" value="{{ app.request.uri }}" />

    <div id="feedback" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Send feedback</h3>
        </div>
        <div class="modal-body">
            <div id="feedback-compose-form">
                <textarea autofocus name="feedback[message]" id="feedback_message"></textarea>
            </div>
            <ul>
                <li>Feedback will be sent as <strong>{{ app.user.username }}</strong>.</li>
                <li>We will use the address <strong>{{ app.user.email }}</strong> to send you a reply.</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
            <button id="feedback-send" class="btn btn-primary">Send feedback</button>
        </div>
    </div>
</form>