<table id="{{ id }}" class="build-list table table-striped">    
    <thead>
        <tr {% if show_headers is defined and not show_headers %}class="dummy"{% endif %}>
            <th width="5%">Id</th>
            <th width="15%">Branch</th>
            <th width="10%">Hash</th>
            <th width="20%">Created at</th>
            <th width="10%">Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for build in builds %}
        <tr id="build-{{ build.id }}" class="status-{{ build.statusLabel }} ref-{{ build.normRef }}">
            <td><a href="{{ path('app_core_build_show', { id: build.id }) }}">{{ build.id }}</a></td>
            <td>{{ build.ref }}</td>
            <td>
                {% if build.hash %}
                    {% include 'AppCoreBundle:Default:_commit_hash.html.twig' with {
                        project_full_name: build.project.githubFullName,
                        hash: build.hash
                    } %}
                {% endif %}
            </td>
            <td><abbr class="timeago" title="{{ build.createdAt | date('c') }}">{{ build.createdAt | date('Y-m-d H:i:s') }}</abbr></td>
            <td class="build-status">
                <span data-status="{{ build.status }}" id="build-{{ build.id }}-status" class="label label-{{ build.statusLabelClass }}">{{ build.statusLabel }}</span>
            </td>
            <td id="build-{{ build.id }}-actions" class="actions">
                {% if build.scheduled %}
                <form id="build-{{ build.id }}-cancel-form" method="post" action="{{ path('app_core_build_cancel', { id: build.id }) }}">
                    <button type="submit" class="btn btn-small btn-warning" data-success-class="fa fa-refresh fa-spin" data-success-message="">cancel</button>
                </form>
                {% endif %}

                {% if build.building %}
                <form id="build-{{ build.id }}-kill-form" method="post" action="{{ path('app_core_build_kill', { id: build.id }) }}">
                    <button type="submit" class="btn btn-small btn-danger" data-success-class="fa fa-refresh fa-spin" data-success-message="">kill</button>
                </form>
                {% endif %}

                <script type="text/mustache" id="tpl-build-kill-form">
                {% verbatim %}
                <form id="build-{{ id }}-kill-form" method="post" action="{{ kill_url }}">
                    <button type="submit" class="btn btn-small btn-danger" data-success-class="fa fa-refresh fa-spin" data-success-message="">kill</button>
                </form>
                {% endverbatim %}
                </script>

                <span id="build-{{ build.id }}-link">
                {% if build.running and build.url %}
                <a href="{{ build.url }}">{{ build.url }}</a>
                {% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>