{% if app.user.projects | length > 0 %}
<ul class="nav nav-pills nav-stacked" id="nav-projects">
    {% for project in app.user.projects %}
    <li{% if app.request.attributes.get('current_project_id') == project.id %} class="active"{% endif %}>
        <a id="nav-project-{{ project.id }}" href="{{ path('app_core_project_show', { id: project.id }) }}">
            {{ project.name }}
            {% if project.pendingBuilds | length > 0 %}
            <div id="nb-pending-builds-{{ project.id }}" class="pull-right"><span class="label label-nav">
                {{ project.pendingBuilds | length }}
            </span></div>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

<script type="text/mustache" id="tpl-nb-pending-builds">
{% verbatim %}
<div id="nb-pending-builds-{{ project_id }}" class="pull-right"><span class="label label-nav">{{ nb_pending_builds }}</span></div>
{% endverbatim %}
</script>

<hr />
{% endif %}

<ul class="nav nav-pills nav-stacked">
    <li{% if app.request.attributes.get('_route') == 'app_core_projects_import' %} class="active"{% endif %}>
        <a href="{{ path('app_core_projects_import') }}">Import projects from github</a>
    </li>
</ul>