{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="/ansi_up.js"></script>
<script src="/build_show.js"></script>
<script type="text/javascript">
$('#output').html(ansi_up.ansi_to_html($('#output').text()));
{% if build.building %}
stream_build_output($('#output'));
{% endif %}
</script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' with { project: build.project } %}

<fieldset id="build-metadata">
    <ul class="lead breadcrumb">
        <li>{{ build.ref }} <span class="divider">/</span></li>
        <li><abbr title="{{ build.hash }}"><tt>{{ build.hash[0:8] }}</tt></abbr></li>
    </ul>
    <div class="row-fluid">
        <dl class="span4">
            <dt>Status</dt>
            <dd><span data-status="{{ build.status }}" id="build-{{ build.id }}-status" class="label label-{{ build.statusLabelClass }}">{{ build.statusLabel }}</span></dd>
            <dt>Url</dt>
            <dd id="build-{{ build.id }}-link">{% spaceless %}
                {% if build.url %}
                <a href="{{ build.url }}">{{ build.url }}</a>
                {% else %}
                <abbr title="Not available">N/A</abbr>
                {% endif %}
            {% endspaceless %}</dd>
        </dl>

        <dl class="span4">
            <dt>Ref.</dt>
            <dd>{{ build.ref }}</dd>
            <dt>Hash</dt>
            <dd><abbr title="{{ build.hash }}"><tt>{{ build.hash[0:8] }}</tt></abbr></dd>
        </dl>

        <dl class="span4">
            <dt>Initiator</dt>
            <dd>{% if build.initiator %}{{ build.initiator.username }}{% else %}<abbr title="Not available">N/A</abbr>{% endif %}</dd>
            <dt>Created</dt>
            <dd><abbr class="timeago" title="{{ build.createdAt | date('c') }}">{{ build.createdAt | date('Y-m-d H:i:s') }}</abbr></dd>
            {% if build.exitCode %}
            <dt>Exit code</dt>
            <dd><abbr title="{{ build.exitCodeText }}">{{ build.exitCode }}</abbr></dd>
            {% endif %}
        </dl>
    </div>
</fieldset>

{% if build.building or build.output %}
<div id="output-container">
    {% if build.building %}
    <div id="build-{{ build.id }}-progress" class="build-building-icon">
        <i class="icon-refresh icon-spin icon-4x"></i>
    </div>
    {% endif %}
<pre id="output">{% spaceless %}
    {% if build.output %}
        {{ build.output | raw }}
    {% endif %}
{% endspaceless %}</pre>
</div>
{% else %}
<p class="lead">This build has no output.</p>
{% endif %}
{% endblock body %}