{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
$('#output').html(ansi_up.ansi_to_html($('#output').text()));

{% if build.building %}
stream_build_output($('#output'));
{% else %}
stream_build_logs($('#logs'));
{% endif %}
</script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' with { project: build.project } %}

<fieldset id="build-metadata">
    <ul class="lead breadcrumb">
        <li><a href="{{ path('app_core_build_show', { id: build.id }) }}">#{{ build.id }}</a> <span class="divider">/</span></li>
        <li>{{ build.ref }}</li>
        <li id="build-{{ build.id }}-link" data-template="{{ '<span class="divider">/</span> <a href="{{ build_url }}">{{ build_url }}</a>' | e }}">
            {% if build.running and build.url %}
            <span class="divider">/</span>
            <a href="{{ build.url }}">{{ build.url }}</a>
            {% endif %}
        </li>
    </ul>
    <div class="row-fluid">
        <dl class="span4">
            <dt>Status</dt>
            <dd><span data-status="{{ build.status }}" id="build-{{ build.id }}-status" class="label label-{{ build.statusLabelClass }}">{{ build.statusLabel }}</span></dd>
            <dt>Created</dt>
            <dd><abbr class="timeago" title="{{ build.createdAt | date('c') }}">{{ build.createdAt | date('Y-m-d H:i:s') }}</abbr></dd>
        </dl>

        <dl class="span4">
            <dt>Ref.</dt>
            <dd>{{ build.ref }}</dd>
            <dt>Hash</dt>
            <dd>{% if build.hash %}<abbr title="{{ build.hash }}"><tt>{{ build.hash[0:8] }}</tt></abbr>{% else %}<abbr title="Not available">N/A</abbr>{% endif %}</dd>
        </dl>

        <dl class="span4">
            <dt>Initiator</dt>
            <dd>{% if build.initiator %}{{ build.initiator.username }}{% else %}<abbr title="Not available">N/A</abbr>{% endif %}</dd>
            {% if build.exitCode %}
            <dt>Exit code</dt>
            <dd><abbr title="{{ build.exitCodeText }}">{{ build.exitCode }}</abbr></dd>
            {% endif %}
        </dl>
    </div>
</fieldset>

<ul class="nav nav-pills">
    <li{% if forceTab == 'output' %} class="active"{% endif %}>
        <a href="{{ path('app_core_build_output', { id: build.id }) }}">Build output</a>
    </li>
    <li{% if forceTab == 'logs' %} class="active"{% endif %}>
        <a href="{{ path('app_core_build_logs', { id: build.id }) }}">Application logs</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane{% if forceTab == 'output' %} active{% endif %}" id="build-output">
        {% if build.building or build.output %}
        <div id="output-container">
            {% if build.building %}
            <div id="build-{{ build.id }}-progress" class="build-building-icon">
                <i class="icon-refresh icon-spin icon-4x"></i>
            </div>
            {% endif %}
        <pre id="output">{% spaceless %}
            {% if build.output %}
                {{ build.output | raw }}
            {% endif %}
        {% endspaceless %}</pre>
        </div>
        {% else %}
        <p class="lead">This build has no output.</p>
        {% endif %}
    </div>

    <div class="tab-pane{% if forceTab == 'logs' %} active{% endif %}" id="build-logs">
        <div id="logs-container">
            <pre id="logs">{% for log in build.logs %}{{ log.message }}{% endfor %}</pre>
        </div>
    </div>
</div>
{% endblock body %}