{% extends '::public.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>We do staging.</h1>
    <p class="lead"><strong>Stage1</strong> streamlines communication between developpers and product owners by enabling <b>automatic</b> and <b>frictionless</b> staging environments.</p>

    {#
    <a class="btn btn-large btn-success" href="{{ path('app_core_auth_github_authorize') }}">
        Sign up today<br />
        <small>You will need a GitHub account</small>
    </a>
    #}
    

    <hr />

    <br /><br />

    <p>Don't be let behind, <strong>signup now</strong> for the private beta!</p>

    <form method="post" action="{{ path('app_core_beta_signup') }}">
        <div class="input-append">
            <input type="text" name="email" placeholder="john.doe@gmail.com" />
            <button class="btn btn-success">Go</button>
        </div>
    </form>

    <br />

    <p><a href="{{ path('app_core_survey') }}">You also can fill-in our quick survey!</a></p>

    <p><a href="{{ path('app_core_blog_post', { slug: 'redesigning-the-staging-experience' }) }}">What's this all about?</a></p>

    {# <p><a href="{{ path('app_core_demo') }}">You can also try the demo, it's free!</a></p> #}
</div>

<hr />

{% include 'AppCoreBundle:Default:_marketing.html.twig' %}
{% endblock body %}