{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
var github_access_token = '{{ access_token }}';
var github_api_base_url = '{{ github_api_base_url }}';
var import_url = '{{ path('app_core_project_import') }}';
var existing_projects = {{ existing_projects | json_encode | raw }};
find_repositories();
</script>
{% endblock javascripts %}

{% block body %}
<div id="projects_import_status" class="alert alert-info">
    <i class="icon-refresh icon-spin"></i>
    <span>Inspecting your github projects...</span>
</div>

<div id="organisations"></div>

<script type="text/mustache" id="tpl-organisation">
{% verbatim %}
<fieldset id="org-{{ name }}">
    <p class="lead"><img class="candidates-organisation-avatar" height="20" width="20" src="{{ avatar_url }}" /> {{ name }}</p>

    <table class="table-candidates table">
        <thead>
            <tr>
                <th width="30%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="org-{{ name }}-candidates">
        </tbody>
    </table>
</fieldset>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-link">
{% verbatim %}<a href="{{ url }}">{{ name }}</a>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-nav">
{% verbatim %}<li>{{{ link }}}</li>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project">
{% verbatim %}
<tr class="candidate">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-button">
        <button class="btn">import</button>
        {{#data}}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
        {{/data}}
    </td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-existing">
{% verbatim %}
<tr class="candidate">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-button">
        <button class="btn btn-info" disabled="disabled"><i class="icon-ok"></i> Already imported</button>
    </td>
</tr>
{% endverbatim %}
</script>

{% endblock body %}