{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
var github_access_token = '{{ access_token }}';
var github_api_base_url = '{{ github_api_base_url }}';
var import_url = '{{ path('app_core_project_import') }}';
var existing_projects = {{ existing_projects | json_encode | raw }};

setTimeout(function() { find_repositories({{ autostart }}); }, 1000);

$('#projects-import-filter').on('keyup', function() {
    var term = $(this).val();

    $('[data-full-name]').each(function(i, el) {
        var fullName = $(el).data('full-name');
        var re = new RegExp('(' + term.toLowerCase() + ')', 'i');
        if (term === '' || null !== fullName.match(re)) {
            var ctnName = $(el).find('.ctn-name strong');
            ctnName.html(term === '' ? fullName : fullName.replace(re, '<em>$1</em>'));
            $(el).attr('data-filtered', 'no');
            $(el).show();
            $(el).parents('fieldset').show();
        } else {
            $(el).attr('data-filtered', 'yes');
            $(el).hide();
        }

        if ($(el).parents('fieldset').find('[data-filtered=no]').length === 0) {
            $(el).parents('fieldset').hide();
        }
    });
});
</script>
{% endblock javascripts %}

{% block body %}
<div id="projects_import_status" class="alert alert-info">
    <i class="fa fa-refresh fa-spin"></i>
    <span>Inspecting your {% if not app.user.hasAccessTokenScope('repo') %}public{% endif %} github projects...</span>
</div>

{% if not app.user.hasAccessTokenScope('repo') %}
<div id="projects_import_info" class="alert alert-info">
    <p>Stage1 can only import public repositories in organizations for which your membership is public and for which you have admin rights.</p>

    <p>In order to import <strong>private repositories</strong>, we must ask for the <strong>repo</strong> oauth scope, which will give us read and write access to all your public and private repositories. <a href="{{ path('app_core_auth_github_authorize', { scope: 'user:email,repo', back_to: path('app_core_projects_import') }) }}">I understand, go for it</a>.</p>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span5" id="organisations">
        <input type="text" id="projects-import-filter" placeholder="Filter projects..." />
    </div>
    <div class="span6" id="progress">
    </div>
</div>

<div id="ask_scope" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Install WebHook?</h3>
    </div>
    <div class="modal-body">
        <p>Stage1 doesn't have enough permissions to install the build WebHook.</p>

        <p>The WebHook enables automated builds whenever you push to your GitHub repository. In order to install the WebHook, you need to grant Stage1 the <strong>public_repo</strong> scope, that will grant us read and write permissions to all your public repositories.<p>

        <p>Use of this WebHook is optional, if you'd rather trigger builds manually, that's ok too (although you're missing much of what makes Stage1 awesome in the first place).</p>
    </div>
    <div class="modal-footer">
        <a id="grant" href="{{ path('app_core_auth_github_authorize', { scope: 'user:email,public_repo', back_to: path('app_core_projects_import') }) }}" class="btn btn-primary">Grant permission and install WebHook</a>
        <button class="btn" id="btn-import-force">Continue without the WebHook</button>
    </div>
</div>

<script type="text/mustache" id="tpl-import">
{% verbatim %}
<p class="lead">Importing <strong>{{ full_name }}</strong></p>

<ul id="steps">
    {{#steps}}
    <li class="pending" id="{{ id }}"><div class="icon-container"><i></i></div> {{ label }}</li>
    {{/steps}}
</ul>

<div id="project-import-footer"></div>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-organisation">
{% verbatim %}
<fieldset id="org-{{ name }}">
    <p class="lead"><img class="candidates-organisation-avatar" height="20" width="20" src="{{ avatar_url }}" /> {{ name }}</p>

    <table class="table-candidates table">
        <thead>
            <tr>
                <th width="50%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="org-{{ name }}-candidates">
        </tbody>
    </table>
</fieldset>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-button">
{% verbatim %}<a href="{{ url }}" class="btn btn-large btn-success">Visit project</a>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-link">
{% verbatim %}<a href="{{ url }}">{{ name }}</a>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-nav">
{% verbatim %}<li>{{{ link }}}</li>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project">
{% verbatim %}
<tr class="candidate" id="candidate-{{ github_id }}" data-full-name="{{ name }}" data-filtered="no">
    <td class="ctn-name"><strong>{{ name }}</strong></td>
    <td class="ctn-button">
        <button class="btn btn-import">import</button>
        {{#data}}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
        {{/data}}
    </td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-joinable">
{% verbatim %}
<tr class="candidate" id="candidate-{{ github_id }}" data-full-name="{{ name }}" data-filtered="no">
    <td class="ctn-name">
        <strong>{{ name }}</strong>
        <div class="help">users: {{ users }}</div>
    </td>
    <td class="ctn-button">
        <button class="btn btn-join" data-join-url="{{ join_url }}">join</button>
    </td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-existing">
{% verbatim %}
<tr class="candidate" id="candidate-{{ github_id }}" data-full-name="{{ name }}" data-filtered="no">
    <td class="ctn-name">
        <strong>{{ name }}</strong>
        <div class="help">users: {{ users }}</div>
    </td>
    <td class="ctn-button">
        
    </td>
</tr>
{% endverbatim %}
</script>

{% endblock body %}