{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="/project_builds.js"></script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

{% if builds | length == 0 %}
<p class="lead">No build?! Come on, get to work and push some code!</p>

<p>Or you can also <a href="{{ path('app_core_project_branches', { id: project.id }) }}">manually schedule a build</a> in the meantine.</p>
{% else %}
<p class="lead">Found <strong>{{ builds | length }}</strong> build{% if builds | length != 1 %}s{% endif %} for project {{ project.name }}.</p>
<table id="builds" class="table table-striped">
    <thead>
        <tr>
            <th width="5%">Id</th>
            <th width="15%">Branch</th>
            <th width="10%">Hash</th>
            <th width="20%">Created at</th>
            <th width="10%">Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for build in builds %}
        <tr id="build-{{ build.id }}" class="status-{{ build.statusLabel }} branch-{{ build.ref }}">
            <td>#{{ build.id }}</td>
            <td>{{ build.ref }}</td>
            <td><abbr title="{{ build.hash }}"><tt>{{ build.hash[0:8] }}</tt></abbr></td>
            <td>{{ build.createdAt | date('Y-m-d H:i:s') }}</td>
            <td class="build-status"><span class="label label-{{ build.statusLabelClass }}">{{ build.statusLabel }}</span></td>
            <td class="actions">
                {% if build.scheduled %}
                <form method="post" action="{{ path('app_core_build_cancel', { id: build.id }) }}">
                    <button type="submit" class="btn btn-small btn-warning" data-success-message="Canceled">Cancel</button>
                </form>
                {% endif %}
                {% if build.building %}
                <form method="post" action="{{ path('app_core_build_kill', { id: build.id }) }}">
                    <button type="submit" class="btn btn-small btn-danger" data-success-message="Killed">Kill</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock body %}