{% extends '::base.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
var detect_branches_url = '{{ path('app_core_project_detect_branches', { id: project.id }) }}';
var schedule_build_url = '{{ path('app_core_project_schedule_build', { id: project.id }) }}';
var pending_builds = {{ pending_builds | json_encode | raw }};
detect_branches();
</script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

<div id="detect_branches_status" class="alert alert-info">
    <i class="icon-refresh icon-spin"></i>
    <span>Detecting branches...</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="15%">Branch</th>
            <th width="10%">Hash</th>
            <th width="10%">Status</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="branches">
    </tbody>
</table>

<script type="text/mustache" id="tpl-ref-kill-form">
{% verbatim %}
<form id="ref-{{ normName }}-kill-form" method="post" action="{{ kill_url }}">
    <button type="submit" class="btn btn-small btn-danger" data-success-class="icon-refresh icon-spin" data-success-message="">kill</button>
</form>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-schedule-form">
{% verbatim %}
<form id="ref-{{ normName }}-schedule-form" method="post" action="{{ schedule_build_url }}">
    <button data-success-class="icon-refresh icon-spin" data-success-message="" class="btn btn-small">schedule build</button>
    {{#data}}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {{/data}}
</form>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-branch-pending">
{% verbatim %}
<tr class="branch" id="ref-{{ normName }}">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-hash"><abbr title="{{ hash }}"><tt>{{ abbr_hash }}</tt></abbr></td>
    <td class="ctn-status">
        <span id="ref-{{ normName }}-status" data-hash="{{ hash }}" data-status="{{ status }}" class="label label-{{ status_label_class }}">{{ status_label }}</span>
    </td>
    <td class="actions" id="ref-{{ normName }}-actions"></td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-status">
{% verbatim %}
<span id="ref-{{ normName }}-status" data-hash="{{ hash }}" data-status="{{ status }}" class="label label-{{ status_label_class }}">{{ status_label }}</span>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-branch">
{% verbatim %}
<tr class="branch" id="ref-{{ normName }}">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-hash"><abbr title="{{ hash }}"><tt>{{ abbr_hash }}</tt></abbr></td>
    <td class="ctn-status"></td>
    <td class="actions" id="ref-{{ normName }}-actions">
        <form id="ref-{{ normName }}-schedule-form" method="post" action="{{ schedule_build_url }}">
            <button data-success-class="icon-refresh icon-spin" data-success-message="" class="btn btn-small">schedule build</button>
            {{#data}}
            <input type="hidden" name="{{ name }}" value="{{ value }}" />
            {{/data}}
        </form>
    </td>
</tr>
{% endverbatim %}
</script>
{% endblock body %}