{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="/project_branches.js"></script>
<script type="text/javascript">
var detect_branches_url = '{{ path('app_core_project_detect_branches', { id: project.id }) }}';
var schedule_build_url = '{{ path('app_core_project_schedule_build', { id: project.id }) }}';
var pending_builds = {{ pending_builds | json_encode | raw }};
detect_branches();
</script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

<div id="detect_branches_status" class="alert alert-info">
    <i class="icon-refresh icon-spin"></i>
    <span>Detecting branches...</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="15%">Branch</th>
            <th width="10%">Hash</th>
            <th width="10%">&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="branches">
    </tbody>
</table>

<script type="text/mustache" id="tpl-branch-pending">
{% verbatim %}
<tr class="branch" id="ref-{{ name }}">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-hash"><abbr title="{{ hash }}"><tt>{{ abbr_hash }}</tt></abbr></td>
    <td class="ctn-status">
        <span id="ref-{{ name }}-status" class="label label-{{ status_label_class }}">{{ status_label }}</span>
    </td>
    <td class="ctn-actions">&nbsp;</td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-ref-status">
{% verbatim %}
<span id="ref-{{ name }}-status" class="label label-{{ status_label_class }}">{{ status_label }}</span>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-branch">
{% verbatim %}
<tr class="branch" id="ref-{{ name }}">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-hash"><abbr title="{{ hash }}"><tt>{{ abbr_hash }}</tt></abbr></td>
    <td class="ctn-status">&nbsp;</td>
    <td class="ctn-actions">
        <div id="ref-{{ name }}-schedule-form">
        <button data-success-class="icon-refresh icon-spin" data-success-message="" class="btn btn-small">schedule build</button>
        {{#data}}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
        {{/data}}
        </div>
    </td>
</tr>
{% endverbatim %}
</script>
{% endblock body %}