{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="/projects_import.js"></script>
<script type="text/javascript">
var github_access_token = '{{ access_token }}';
var import_url = '{{ path('app_core_project_import') }}';
var existing_projects = {{ existing_projects | json_encode | raw }};
inspect_repositories();
</script>
{% endblock javascripts %}

{% block body %}
<div id="projects_import_status" class="alert alert-info">
    <i class="icon-refresh icon-spin"></i>
    <span>Inspecting your github projects...</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="30%">&nbsp;</th>
        </tr>
    </thead>
    <tbody id="candidates">
    </tbody>
</table>

<div id="candidates"></div>

<script type="text/mustache" id="tpl-project-link">
{% verbatim %}<a href="{{ url }}">{{ name }}</a>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-nav">
{% verbatim %}<li>{{{ link }}}</li>{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project">
{% verbatim %}
<tr class="candidate">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-button">
        <button class="btn">import</button>
        {{#data}}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
        {{/data}}
    </td>
</tr>
{% endverbatim %}
</script>

<script type="text/mustache" id="tpl-project-existing">
{% verbatim %}
<tr class="candidate">
    <td class="ctn-name">{{ name }}</td>
    <td class="ctn-button">
        <button class="btn btn-info" disabled="disabled"><i class="icon-ok"></i> Already imported</button>
    </td>
</tr>
{% endverbatim %}
</script>

{% endblock body %}